body{
    background-color: #FFFFFF;
    background-image: url("https://i.pinimg.com/originals/e3/43/55/e343555041f0d4b4eff0279af5346a63.jpg");
    background-size: cover;
    color: #353535;
    height: 100vh;
}

.logoPagina{
    width: 100px;
}

.nav-item{
    background-color: #D9D9D9;
}
#tituloPrincipal{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form{
    background-color: black;
    width: 50%;
    margin-inline: auto;
}
input, textarea{
    width: 100%;
}